:root{
    --yellow:#FDE34D;
    --blue:#1E3A8A;

}
body{
    font-family: 'Times New Roman', Times, serif;
    color:var(--blue);
    align-items: center;
    background-image: url("images/minion-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--yellow);
    overscroll-behavior: none;
    margin:10px;
    
}
h1{
    text-align: center;
    letter-spacing: 0.8rem;
    padding:0px;
    position: relative;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-width: 1000px;
    margin: 0 auto;
}


textarea{
    width:60%;
    height:10vh;
    display:block;
    margin:2rem;
    padding:1rem;
    border-radius: 25px;
    
}
button{
    color:var(--yellow);
    background-color: var(--blue);
    padding:1rem;
    border-radius: 25px;
    font-size:30px;
    margin:2rem;

}
#op{
    border:1px solid black;
    height:10vh;
    width:60%;
    padding:1rem;
    margin:2rem;
    background-color: white;
    border-radius: 25px;
}
footer{
    color:var(--blue);
    font-size:22px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px;
    
}