body{
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    font-size:larger;
    text-align: center;
    font-size:30px;
}
p{
    text-align:center;
    font-size: medium;
    font-weight: 100;
}
#like{
    font-size: 10rem;
    text-align: center;
}
#like-no{
    font-size: 10rem;
    text-align: center;

}
footer>p{
    text-align:center;
    font-size:medium;
    font-weight: 100;
    position: absolute;
    bottom:0;
    width:100%;
    height:50px;
}